.hero {
  max-width: 1920px;
  margin: 0 auto;
  height: 964px;

  background-color: $general-blue;
  background-image: url("../../images/hero/Img-hero.jpg");

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../../images/hero/Img-hero@2x.jpg");
  }
}
