.link {
  padding: 18px 34px;
  border-radius: 8px;
  display: inline-block;

  &--uppercase {
    text-transform: uppercase;
  }

  &--bg-light {
    background-color: $general-light;
  }

  &--blue-text {
    color: $general-blue;
  }

  &--light-text {
    color: $general-light;
  }

  &--margin-left {
    margin-left: 50px;
  }

  &--red {
    background-color: $general-red;
  }

  &--bg-blue {
    background-color: $general-blue;
  }
}

.arrow-right-icon {
  margin-left: 12px;
  vertical-align: middle;
}
