.section__title {
  margin-bottom: 60px;

  &--margin-contacts-us {
    margin-bottom: 8px;
  }
  &--about-margin {
    margin-bottom: 32px;
  }

  &--centred {
    text-align: center;
  }

  font-size: 34px;
  font-weight: 700;
  line-height: 1.3;
}

.section__text-decor {
  color: $general-blue;
}

.section__description {
  &--about-margin {
    margin-bottom: 80px;
  }

  font-family: $second-font-family;
}
