$general-light: #fff;
$general-dark: #222;
$general-light-red: #ffa3a3;
$general-red: #fc5252;
$general-blue: #381ddb;

$main-font-family: "Montserrat", sans-serif;
$second-font-family: "Raleway", sans-serif;

$main-font-size: 16px;

$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
